@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 { 
  font-family: 'Open Sans', sans-serif;
}

h6 { 
  font-family: 'Open Sans', sans-serif;
  font-size: 20px; 
  font-weight: 700;
}

a {
  font-family: 'Open Sans', sans-seri;
}

ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  line-height: 2;
  letter-spacing: 2px;
}

.link {
  font-family: 'Open Sans', sans-seri;
  font-size: medium;
  font-weight: 600;
  color: #1d5aa9;
}

.link:hover {
  font-family: 'Open Sans', sans-seri;
  color: #1d5aa9;
  text-decoration: underline;
}

.title {
  padding: 5px; 
  font-family: 'Open Sans', sans-seri;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 1px;
}
.sub-title {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.8;
}

.min-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #1d5aa9;
}

.profile {
  padding: 3rem;
  border-radius:30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  width: 300px;
  height: auto;
}

.img {
  padding: 2rem;
  border-radius:4rem;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  
}

.profile-sm {
  padding: 3rem;
  border-radius:30rem;
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.social-links {
  color: white;
}

.fa {
  width: 32px;
  height: 32px;
  line-height: 28px;
  border: 0px solid #e0e0e0;
}


.jumbotron {
  margin-bottom: 3rem;
  border-radius: .3rem;
  min-height: 600px;
}

.home {
  min-height: 850px;
}

.about-me {
  color: whitesmoke;
}

.skills {
  margin-top: -15rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
}

.img-webdesign {
  width: 900px;
}

.site-footer {
  background-color: #0058B3;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 3rem;
}

.site-footer p {
  line-height: 2.8;
}

.site-footer a {
  color: white;
}

.footer-bar {
  background-color: #141c3a;
  margin-bottom: -2rem;
}

.footer-logo {
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  top: 70px;
  right: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #1d5aa9;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: whitesmoke;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #1d5aa9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: block;
  padding: 10px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.809);
}